simpsh
*.bk
tmp*.md
obj/*.o
tests/scripting-test
*sh-st
project*.md
doc
bak
fake
notes.txt
tests/bench.sh
tests/forbench.sh
tests/script-test.sh

*.svg
.project*
callgrind*
massif*
profile
.cache/
.ccls-cache
*.json
.zed
GPATH
GTAGS
GRTAGS
cscope*
*vterm*
*.ede
*.seer
.clangd
tags
reports
*.optimized
*.out
perf.data*
heaptrack.*
/parsebench
