simpsh
*.bk
tmp*.md
obj/*.o
tests/scripting-test
*sh-st
project*.md
doc
bak
fake
notes.txt
tests/bench.sh
tests/forbench.sh
tests/script-test.sh
/tests/testfiles/source.sh
/tests/quotetest.sh
/tests/pgo
/pgo
/obj/builtins.stamp
/obj/root.stamp
/parsebench

*.svg
.project*
.freebuff
callgrind*
massif*
profile
.cache/
.ccls-cache
*.json
.zed
GPATH
GTAGS
GRTAGS
cscope*
*vterm*
*.ede
*.seer
.clangd
tags
reports
*.optimized
*.out
perf.data*
heaptrack.*
.aider*
