simpsh
*.bk
tmp*.md
obj/*.o
tests/scripting-test
*sh-st
AGENTS.md
project*.md
doc
bak
fake
notes.txt

.cache/
*.json
simsh.geany
.zed
.gdb_history
.dir-locals.el
*vterm*
*.ede
*.seer
.clangd
tags
reports
*.optimized
*.out
perf.data*
heaptrack.*
